.dictionary-pane {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--dark-background-color));
  color: rgb(var(--light-text-color));
  overflow: auto;
}

.dictionary-pane h3 {
  display: inline;
  font-size: 0.8em;
  color: rgba(var(--light-text-color), 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dictionary-pane a {
  border-bottom: 1px solid rgba(var(--light-link-text-color), 0.4);
  padding-bottom: 0.1em;
  color: rgba(var(--light-link-text-color), 0.7);
  text-decoration: none;
  transition: color 0.2s;
}

.dictionary-pane a:hover,
.dictionary-pane a:focus {
  color: rgba(var(--light-link-text-color), 1);
}

.dictionary-pane .word-info {
  flex: 1;
  padding: 2rem;
}

.dictionary-pane .word {
  font-size: 7rem;
  font-weight: normal;
  line-height: 1;
}

.dictionary-pane .word.small {
  font-size: 4rem;
}

.dictionary-pane .variants {
  font-size: 2.5rem;
  display: flex;
  list-style: none;
}

.dictionary-pane .variants li:not(:last-child) {
  margin-right: 0.8em;
}

.dictionary-pane .variants a {
  border-bottom: 0;
}

.dictionary-pane .meanings-list {
  padding-top: 1.5rem;
  margin: 1.5rem;
  margin-top: 0;
  color: rgba(var(--light-text-color), 0.7);
}

.dictionary-pane .meanings-list li {
  margin: 0.5em 0;
}

.dictionary-pane .meanings-list .pinyin {
  margin-right: 1rem;
  color: rgb(var(--light-text-color));
}

.dictionary-pane .meanings-list .separator {
  opacity: 0.5;
}

.dictionary-pane .character-info {
  position: relative;
  display: flex;
  flex: 2;
  background-color: rgb(var(--dark-background-color-lighter));
}

.dictionary-pane .character-info .navigation {
  display: flex;
  position: absolute;
  left: 50%;
  padding: 0.5rem 2rem;
  list-style: none;
  font-size: 0.8em;
  font-weight: bold;
  transform: translateX(-50%);
}

.dictionary-pane .character-info .navigation.hide {
  display: none;
}

.dictionary-pane .character-info .navigation > li a {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background-color: currentColor;
  text-indent: -9999em;
  overflow: hidden;
  transition: color 0.2s;
}

.dictionary-pane .character-info .navigation > li.current a {
  color: rgb(var(--light-text-color));
}

.dictionary-pane .character-info .characters {
  display: flex;
  flex: 1;
  list-style: none;
  overflow: auto;
}

.dictionary-pane .character-info .characters::-webkit-scrollbar {
  background-color: inherit;
  height: 0.5rem;
}

.dictionary-pane .character-info .characters::-webkit-scrollbar-thumb {
  background-color: rgb(var(--dark-background-color));
}

.dictionary-pane .character-info .characters > li {
  padding: 2rem;
  flex: 0 0 100%;
  overflow: hidden;
}

.dictionary-pane .character-info .characters header {
  float: left;
}

.dictionary-pane .character-info .characters .meanings-list {
  clear: both;
}

.dictionary-pane .character-info .etymology {
  color: rgba(var(--light-text-color), 0.7);
}

.decomposition-tree {
  border-radius: 0.2em;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 1em;
  line-height: 1;
}

.decomposition-tree .decomposition-tree {
  margin: 0.2em;
  padding: 0.2em;
  background-color: rgba(var(--dark-background-color), 0.4);
}

.decomposition-tree .decomposition-tree .decomposition-tree {
  background-color: rgb(var(--dark-background-color));
}

.decomposition-tree > p {
  margin: 0 0.2em;
  width: 1em;
  text-align: center;
}

.decomposition-tree > p.unknown {
  opacity: 0.5;
}

.decomposition-tree a {
  border: none;
}

.decomposition-tree > ol {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.decomposition-tree:not(.decomposition-tree .decomposition-tree) > p {
  display: none;
}
