.mode-switcher {
  padding: 1rem calc(2rem - 0.5em);
  background: rgb(var(--dark-background-color));
  color: rgb(var(--light-text-color));
  text-align: center;
}

.mode-switcher ul {
  display: inline-block;
  list-style: none;
}

.mode-switcher li {
  display: inline-block;
}

.mode-switcher a {
  display: inline-block;
  padding: 0.1em 0.5em;
  background-color: rgba(var(--highlight-color-alt), 0);
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
}

.mode-switcher a:hover, .mode-switcher a:focus {
  background-color: rgba(var(--highlight-color-alt), .3);
}

.mode-switcher .current a {
  background-color: rgba(var(--highlight-color-alt), 1);
  color: rgb(var(--dark-background-color));
}
