.token-textarea {
  position: relative;
  overflow: auto;
  font-size: 1.3rem;
  line-height: 2.5;
}

.token-textarea > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  padding: 1.2rem;
  overflow: visible;
  font: inherit;
  white-space: pre-wrap;
  word-break: break-all;
}

.token-textarea textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  color: inherit;
}

.token-textarea .tokens {
  color: transparent;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}

.token-textarea .overlay {
  pointer-events: none;
}

.token-textarea .box a {
  position: absolute;
  top: calc(100% + 0.1em);
  left: 0;
  right: 0;
  height: 0.25em;
  pointer-events: all;
  transition: background-color 0.2s;
}

.token-textarea.loading .box a {
  pointer-events: none;
}

.token-textarea:hover .box a,
.token-textarea:focus-within .box a {
  background-color: rgba(var(--highlight-color), 0.2);
}

.token-textarea.loading .box a {
  background: rgba(var(--highlight-color), 0.2)
    linear-gradient(
      to right,
      rgba(var(--highlight-color), 0) 30%,
      rgb(var(--highlight-color)) 50%,
      rgba(var(--highlight-color), 0) 70%
    )
    no-repeat fixed;
  background-size: 10rem 100%;
  animation: 3s linear 0s infinite token-textarea-loading;
}

@keyframes token-textarea-loading {
  from {
    background-position: -10rem 0;
  }
  to {
    background-position: calc(100% + 10em) 0;
  }
}

.token-textarea .word.highlight .box a {
  background-color: rgb(var(--highlight-color));
}

.token-textarea .word:not(.highlight) .box:first-child a {
  left: 0.1em;
}

.token-textarea .word:not(.highlight) .box:last-child a {
  right: 0.1em;
}

.token-textarea .word .pronunciation {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 0.5em;
  background-color: white;
  color: rgba(var(--text-color), 0.8);
  font-size: 0.8rem;
  line-height: 1;
  transform: translate(-50%, -100%);
  white-space: nowrap;
}
