.dictionary-pane {
  background-color: rgb(var(--dark-background-color));
  color: rgb(var(--light-text-color));
  overflow: auto;
}

.dictionary-pane a {
  color: rgb(var(--light-link-text-color));
  opacity: 0.7;
  transition: opacity 0.2s;
}

.dictionary-pane a:hover,
.dictionary-pane a:focus {
  opacity: 1;
}

.dictionary-pane .word-info {
  padding: 1rem 2rem;
}

.dictionary-pane .word-info .word {
  font-size: 7rem;
  font-weight: normal;
  line-height: 1;
}
.dictionary-pane .word-info .word.small {
  font-size: 4rem;
}

.dictionary-pane .word-info .variants {
  font-size: 2.5rem;
  display: flex;
  list-style: none;
}

.dictionary-pane .word-info .variants li:not(:last-child) {
  margin-right: 0.8em;
}

.dictionary-pane .word-info .variants a {
  text-decoration: none;
}

.dictionary-pane .meanings {
  margin: 1.5rem 0;
  color: rgba(var(--light-text-color), .7);
}

.dictionary-pane .meanings li {
  margin: .5em 0;
}

.dictionary-pane .meanings .pinyin {
  margin-right: 1rem;
  color: rgb(var(--light-text-color));
}