.dictionary-pane {
  background-color: rgb(var(--dark-background-color));
  color: rgb(var(--light-text-color));
}

.dictionary-pane .word-info {
  padding: 2rem;
}

.dictionary-pane .word-info .word {
  font-size: 5rem;
  font-weight: normal;
  line-height: 1.2;
}

.dictionary-pane .word-info .variants {
  font-size: 2.5rem;
  display: flex;
  list-style: none;
}
