@import url("./App.css");
@import url("./TokenTextarea.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text-color: 51, 35, 49;
  --highlight-color: 155, 55, 120;
  --dark-background-color: 22, 15, 22;
  --light-text-color: 250, 255, 239;
  --color-accent-1: 79, 54, 76;
  --color-accent-2: 94, 64, 95;
  --color-accent-3: 107, 107, 107;
  --color-accent-4: 143, 158, 111;
  --color-accent-5: 177, 207, 114;
}

body {
  font: 100%/1.5 "Inter", sans-serif;
  color: rgb(var(--text-color));
}

#root {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
